@using Microsoft.AspNet.Identity
@using Budgify.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <a class="usernameActive">@User.Identity.GetUserName()</a>
        <a id="btn__logoff" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

    }
}
else
{

    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "btn__login" })
}